# 연도별 퇴사자 비율 변화

## #연도별 퇴사자 수 데이터

In [3]:
# 기본 라이브러리
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 그래프 기본 테마 설정
# https://coldbrown.co.kr/2023/07/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EC%8B%A4%EC%A0%84%ED%8E%B8-08-seaborn-sns-set%EC%9D%84-%ED%86%B5%ED%95%B4-%EC%8A%A4%ED%83%80%EC%9D%BC-%EC%84%A4%EC%A0%95%ED%95%98%EA%B8%B0/
sns.set()

# 그래프 기본 설정
#plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 10, 5
plt.rcParams['font.size'] = 12
plt.rcParams['axes.unicode_minus'] = False

# 복잡한 통계 처리를 위한 라이브러리
from scipy import stats

In [4]:
df = pd.read_excel('퇴사자 분석 데이터.xlsx')

In [5]:
# 데이터 상위 5개 행
df.head()

# 데이터 구조 확인
df.info()

# 통계 요약
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Columns: 145 entries, 산업별(1) to 2023.15
dtypes: object(145)
memory usage: 43.2+ KB

,산업별(1),2015,2015.1,2015.2,2015.3,2015.4,2015.5,2015.6,2015.7,2015.8,...,2023.6,2023.7,2023.8,2023.9,2023.10,2023.11,2023.12,2023.13,2023.14,2023.15
count,38,38,38,38,38,38,38,38,38,38,...,38,38,38,38,38,38,38,38,38,38
unique,37,38,38,36,38,38,38,38,15,38,...,38,9,38,38,38,9,38,37,34,7
top,산업별(1),퇴사인력,퇴사인력,0,퇴사인력,구인인력,구인인력,구인인력,0,채용인력,...,구인인력,0,채용인력,채용인력,채용인력,0,미충원인력,80,0,0
freq,2,1,1,2,1,1,1,1,24,1,...,1,30,1,1,1,29,1,2,3,32

In [6]:
# 결측치 확인
df.isnull().sum()

산업별(1)     0
2015       0
2015.1     0
2015.2     0
2015.3     0
          ..
2023.11    0
2023.12    0
2023.13    0
2023.14    0
2023.15    0
Length: 145, dtype: int64

In [7]:
df1 = df[['2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']]
df2 = df1.iloc[[2]]

In [8]:
df2 = df2.rename(index={2: '퇴사인력'})

In [15]:
df2.columns.name = '연도'
df2

연도      2015    2016    2017    2018    2019    2020    2021    2022    2023
퇴사인력  148035  150304  151447  155382  156594  158671  159550  159923  157490

### 퇴사자의 수는 2015년부터 2022년까지 계속해서 증가하였으며, 2023년에는 157490으로 퇴사자의 수가 하락하였다.

## #연도별 퇴사자 수 증감 파악

In [17]:
# 전년도 대비 증감량 계산 (열 방향)
delta = df2.diff(axis=1)

# 인덱스 이름 바꾸기
delta.index = ['증감량']

# 열 이름 그대로 유지
delta.columns.name = '연도'

# 원본과 증감량 위아래로 결합
df_final = pd.concat([df2, delta])

# 출력
print(df_final)

연도      2015    2016    2017    2018    2019    2020    2021    2022    2023
퇴사인력  148035  150304  151447  155382  156594  158671  159550  159923  157490
증감량      NaN    2269    1143    3935    1212    2077     879     373   -2433

In [23]:
df_final.to_excel('연도별 퇴사인력_증감.xlsx')